/* html */
body > .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

/* navbar */
.navbar.navbar-inverse {
    background-color: #FFF;
    border-color: #E7E7E7;
}
.container-fluid > .row > .navbar {
    margin-bottom: 0;
}

/* title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

ul.nav.navbar-nav.navbar-right > li > a:hover{
    color: #5c86e2;
}

/* Search Icon */
.fa.fa-search {
    line-height: 1.42857143;
}

.input-group-btn > button.btn.btn-default {
    border-radius: 4px;
}

/* Font Awsome Login and Register */
.login:before {
   font-family: FontAwesome;
   content: "\f007";
   position: absolute;
   margin-top: 15px;
}
.register:before {
   font-family: FontAwesome;
   content: "\f023";
    position: absolute;
   margin-top: 15px;
}
/* Toggle slidebar */
a#menu-toggle {
    margin-top: 0;
    margin-left: 6px;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 325px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 325px;
    width: 0;
    height: 100%;
    margin-left: -325px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    /*margin-top: -20px;*/
}
.tab-bt3 > .nav-tabs > li > a {
    line-height: 7px;
    color: #333;
    font-weight: 600;
}
#wrapper.toggled #sidebar-wrapper {
    width: 325px;
}

#page-content-wrapper {
    /*width: 100%;*/
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -325px;
}

/* Sidebar Styles */
ul.sidebar-nav {
    background: #f6f6f6;
}
#sidebar-wrapper {
    background: #f6f6f6;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 325px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 325px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 325px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.input-group .form-control,
.input-group .btn.btn-primary,
.input-group > .input-group-btn > .btn,
.dropdown-menu,
.tab-bt3 > ul.nav.nav-tabs > li,
.tab-bt3 > ul.nav.nav-tabs > li > a,
#menu-toggle {
    border-radius: 0 !important;
}


/* Width content */
html {
    overflow: hidden;
}
/* Full screen */
.panel-actions {
  margin-top: -6px;
  margin-bottom: 0;
  text-align: right;
}
.panel-actions a {
  color:#333;
}
.full-height {
    height: 100vh;
}
.panel-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
.panel.panel-default > .panel-heading {
    padding: 0;
    /*border-bottom: 1px solid transparent;*/
    /*border-top-left-radius: 0;
    border-top-right-radius: 0;*/
}
.panel.panel-default > .panel-heading .panel-title a#menu-toggle {
    margin-bottom: 6px;
    margin-left: 0;
}
#panel-fullscreen > .fa{
    position: absolute;
    margin-top: -20px;
    margin-left: -10px;
}
/* Tab sidebar */
.tab-bt3 > ul.nav.nav-tabs > li > a {
    padding-right: 25px;
    padding-left: 25px;
}
.tab-bt3 > ul.nav.nav-tabs {
    display: -webkit-inline-box;
}
#sidebar-wrapper .sidebar-nav li a:hover {
    color: #000;
}